body {
  background-color: black;
  background-image: url('roboticsBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(46,26,71);
  font-size: xx-large;
  display: inline-flex;
  margin: auto;
  width: 60%;
  padding-top: 50px;
  padding-left: 700px;
}

.logo {
  width: 10%;
  height: 10%;
  margin-left: 500px;
}

.title {
  width: 20%;
  height: 20%;
  padding-top: 40px;
}

.tabs {
  margin-left: -600px;
  width: 10%;
  height: 10%;
}

a {
  text-decoration: none;
  color: rgb(46,26,71);
}

.Home {
  background-color: rgb(141, 61, 165);
  border-radius: 30px;
  color: #fff;
  opacity: .5;
  height: 500px;
  width: 1000px;
  text-align: center;
  margin-top: 50px;
  margin-left: 400px;
}

.About {
  background-color: rgb(141, 61, 165);
  border-radius: 30px;
  color: #fff;
  opacity: .5;
  height: 500px;
  width: 1000px;
  text-align: center;
  margin-top: 50px;
  margin-left: 400px;
}

.Contact {
  background-color: rgb(141, 61, 165);
  border-radius: 30px;
  color: #fff;
  opacity: .5;
  height: 500px;
  width: 1000px;
  text-align: center;
  margin-top: 50px;
  margin-left: 400px;
}
