body {
  background-color: black;
  background-image: url('robBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(141, 61, 165);
  font-size: xx-large;
  display: inline-flex;
  margin: auto;
  width: 60%;
  padding-top: 50px;
  padding-left: 700px;
}

.logo {
  width: 10%;
  height: 10%;
  margin-left: 200px;
}

.title {
  width: 20%;
  height: 20%;
  padding-top: 40px;
}

.tabs {
  margin-left: -600px;
  width: 10%;
  height: 10%;
}

h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#000000, #ce0fce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: rgb(141,61,165);
}
