body {
  margin: 0;
  padding: 0;
  background: url(robBack.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative; 
}

.Awards_Large {
  margin: none;
  padding: none;
}

.description {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.container2{
  display: flex;
  align-items: center; /* Center vertically */
  column-gap: 30px;
  width: 100%;
  padding-left: 170px;
}

.container {
  display: flex;
  justify-content: center; /* Space elements evenly */
  align-items: center; /* Center vertically */
  column-gap: 30px;
  width: 100%;
  padding: 20px;
}

.container3 {
  display: flex;
  justify-content: center; /* Space elements evenly */
  align-items: center; /* Center vertically */
  column-gap: 30px;
  width: 100%;
  padding: 20px;
  max-width: 900px;
}

.container4 {
  display: flex;
  justify-content: center; /* Space elements evenly */
  align-items: center; /* Center vertically */
  column-gap: 30px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.line{
  width: 10%;
  margin: 0px;
  border: none;
  height: 5px;  
  background-color: #b40cb496;
  
}

.mission_statement {
  width: 15%;
  height: 15%;
}

.logo {
  width: 15%;
  height: 15%;
  margin: 20px 0;
  text-align: center;
}

.banner {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(141, 61, 165);
  font-size: 4vw;
  width: 80%;
  padding: 50px;
  box-sizing: border-box;
}


.banner2 {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(141, 61, 165);
  font-size: 4vw;
  width: 80%;
  padding: 0px;
  box-sizing: border-box;
}

.tabs {
  text-align: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(141, 61, 165);
  background-color: rgba(141, 61, 165, 0.721);
  font-size: 4vw;
  width: 100%;
  z-index: 999;
  transition: 200ms;
}
.tabs.stick {
  background-color:#4c0078;
}

.tabs2 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.tabs a {
  font-size: 60%;
  text-decoration: none;
  color: rgba(141, 61, 165, 0.721);
  background: -webkit-linear-gradient(#ff00ffc1, #ff99ff91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
  position: relative;
  margin: 10px;
}

.tabs2 a {
  font-size: 60%;
  text-decoration: none;
  color: rgba(141, 61, 165, 0.721);
  background: -webkit-linear-gradient(#ff00ffc1, #ff99ff91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
  position: relative;
  margin: 0px;
}

.tabs a:hover{
  border-bottom: 7px solid purple;
  width: 50%;
  text-align: center;
  background-color: #ccc;
}

.tabs2 a:hover {
  border-bottom: 7px solid purple;
  width: 50%;
  text-align: left;
  background-color: #ccc;
}

h1 {
  text-align: center;
  color: rgb(147, 0, 215);
}

h4 {
  text-align: left;
  color: rgb(191, 160, 205);
}

.left {
  text-align: left;
  color: rgb(147, 0, 215);
}

p {
  text-align: left;
  color: rgb(147, 0, 215);
}

.buildP {
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 5vw;
  background: -webkit-linear-gradient(#000000, #ce0fce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ourRobots {
  font-size: 4vw;
  background: -webkit-linear-gradient(#ce0fce, #160136);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
  margin: 0px;
}

.build {
font-size: 4vw;
color: #4c0078;
text-align: center;
}

.homeTitle,
.aboutTitle,
.contactTitle,
.ourrobotstitle {
  font-size: 5vw;
  text-align: center;
  color: gray;
}

.Home,
.Contact {
  border-radius: 30px;
  color: #fff;
  width: 90%;
  max-width: 1200px;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
    vertical-align: text-top;

}

.purp_con2 {
  background-color: rgba(141, 61, 165, 0.5);
  border-radius: 30px;
  color: #fff;
  width: 90%;
  max-width: 650px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 40px;
}

.purp_con {
  background-color: rgba(141, 61, 165, 0.5);
  border-radius: 30px;
  color: #fff;
  width: 90%;
  max-width: 650px;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px;
}

.AwardBox{
  background-color: rgba(141, 61, 165, 0.5);
  color: #fff;
   text-align: center;
}

.box1,
.box2,
.box3,
.box4 {
  background-color: rgba(113, 104, 116, 0.5);
  border-radius: 30px;
  color: #fff;
  width: 80%;
  width: 200px;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

.adress {
  font-size:2vw;
}

